<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Products - Rest Api</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="jumbotron" align="center" style="margin-top: 50px;">
            <h1>Products - Rest Api</h1>
            <div align="center">
                <a href="swagger-ui.html" class="btn btn-lg btn-primary">See api documentation here</a>
                <a href="console" class="btn btn-lg btn-warning">H2 console</a>
            </div>
        </div>
    </div>
	
	<script src="jquery.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>